body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.flex {
    display: flex;
}
.half-width {
    width: 50%;
    padding-left: 70px ;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 20px;

}
section img {
    width: 100%;
}
.bold-text {
    font-size: 40px;
    font-weight:bolder;
}
.colorful-text {
    color: rgb(173, 9, 36);
}
#line {
    border-left: 4px solid;
    border-image: linear-gradient(red, pink);
    border-image-slice: 1;
    padding-left: 10px ;
}
.button {
    text-decoration: none;
    font-weight: 800;
    color: white;
    border-radius: 5px;
    background-image: linear-gradient(red, rgb(224, 49, 255));
    padding: 7px 15px;
}
.sec-padding {
    padding-bottom: 80px;
}
.second-section-a {
    width: 100%;
    padding-left: 20px ;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: linear-gradient(rgb(248, 196, 183), rgb(245, 161, 65));
    margin-top: 80px;
    margin-bottom: 70px;
    margin-right: 15px;
    margin-left: 75px ;
    border-radius: 15px;

}
.second-section-b {
    width: 100%;
    padding-left: 20px ;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: linear-gradient(rgb(120, 240, 214), rgb(128, 128, 248));
    margin-top: 80px;
    margin-bottom: 70px;
    margin-right: 15px;
    margin-left: 15px ;
    border-radius: 15px;

}
.second-section-c {
    width: 100%;
    padding-left: 20px ;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-image: linear-gradient(rgb(124, 241, 134), rgb(191, 245, 224));
    margin-top: 80px;
    margin-bottom: 70px;
    margin-right: 75px;
    margin-left: 15px ;
    border-radius: 15px;

}

.img-a {
    width: 50%;
}
h1 {
    
    text-align: center;
    padding-top: 80px;
}
.third-text {
    font-weight: bolder;
    font-size: 30px;
}
.bgi-a {
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 180px 180px;
    background-position: 10px 100px;
}
.bgi-b{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 120px 120px;
    background-position: 826px 310px;
}
.last-section {
    padding-top: 30px ;
    padding-bottom: 40px ;
    padding-left: 10px;
    padding-right:10px ;
}
footer {
    font-family: 'Dancing Script', cursive;
    background-color:black ;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;  
}
span {
    color: brown;
}
footer div {
    color: whitesmoke;
}
.foot-heading {
    font-size: 35px;
    font-weight: 800;
}

